@import "~antd/dist/antd.css";
.test {
	font-size: 20px;
	color: yellow;
}
/* html{
background-color: #FFF8F5;
} */
.home-layout-1 {
	background-color: #ffffff;
	min-height: 100vh;
}
.home-layout-2 {
	background-color: #fff8f5;
}
.posts-layout-1 {
	background-color: #fff;
}
.container {
	width: 100%;
	display: flex;
	align-self: center;
	margin: auto;
	/* background: rgb(228, 161, 161); */
}

.bg-dark-gray {
	background-color: #3d0c08;
}
.custom-scroll-bar::-webkit-scrollbar {
	width: 10px;
  	background-color: rgba(0, 0, 0, 0);
}	
.custom-scroll-bar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0);
}
.custom-scroll-bar:hover::-webkit-scrollbar-thumb {
	background: rgba(144, 147, 153, 0.5);
	border-radius: 5px;
}

.loading-div {
	max-height: 80vh;
}
.loading-div img {
	margin: auto;
	height: 100%;
    display: block;
}
@media(max-width: 992px) {
	.loading-div {
		overflow: hidden;
	}
	.loading-div img {
		width: 100%;
	}
}

/* sm */
@media (min-width: 576px) {
	.container {
		width: 540px;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}

/* lg */
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

/* xl */
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

/* xxl */
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}

.site-layout-content {
	min-height: 280px;
	padding: 24px;
	/* background: #fff; */
}
/* #components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
} */
/* .setHeader{
display: flex;
justify-content: space-between;
} */
/* .logo {
  float: right;
  margin: 16px 0 16px 24px;
} */
/* .postContent{
	background-image:url(../public/images/background-white.png) ;
} */
.homeHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #fff; */
	height: 75px;
}
.sethomeHeader {
	background: rgba(255, 255, 255, 0);
	height: 70px;
	padding: 0%;
	line-height: 0%;
}
@media(max-width: 992px) {
	.homeHeader {
		height: 75px;	
	}
	.sethomeHeader {
		height: 60px;
	}
}
.logo {
	/* background-color: rgb(128, 128, 128); */
	height: 60px;
	width: 60px;
	cursor: pointer;
	margin-left: 1.5rem;
}
@media(max-width: 992px) {	
	.logo {
		height: 50px;
		width: 50px;
		line-height:0;
	}
}
.header-logo {
	width: 100%;
}
.login {
	position: relative;
	height: 60px;
	width: 60px;
	margin-right: 1.5rem;
}
.login-btn {
	cursor: pointer;
	height: 100%;
}
.login-btn-img {
	height: 90%;
	margin: 5%;
}
.user-btn-text {
	line-height: 0.5rem;
	text-align: center;
	font-size: .8rem;
	width: 90%;
	color: #3D0C08;
	
}
.home-posts {
	min-height: 82vh;
	display: flex;
	justify-content: center;
	/* margin-top: 6.6rem; */
}
.home-nav {
	min-height: 82vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
.home-nav::before{
	content: '';
	height: 82vh;
}
@media(max-width: 992px) {
	.home-nav-col {
		position: absolute;
		bottom: 40px;
		margin: auto;
		left: 0;
		width: 100vw;
	}
	.home-posts {
		
		height: 80%;
		display: flex;
		justify-content: center;
		/* margin-top: 6.6rem; */
	}
	.home-nav {
		min-height: fit-content;
	}
	.home-nav::before {
		height: auto;
	}
	.login {
		margin-right: 0;
		width: 3rem;
		height: 3rem;
	}
	.login-btn {
		line-height: 0%;
	}
	.login-btn-img {
		height: 100%;
		line-height: 0%;
	}
}

.home-nav-btn{
	position: relative;
	overflow: hidden;
}
.post-nav-btn-white{
	position: relative;
	overflow: hidden;

}
.home-nav-arrange {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

}
.nav-item {
	color: #3d0c08;
	font-size: 22px;
	margin: 40px;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.25s linear;
}
.nav-item-white{
	color: #fff;
	font-size: 22px;
	margin: auto;
	text-align: center;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.25s linear;
}
.post-nav-cont{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.home-post-demo {
	margin-top: 50px;
	width: 100%;
	position: relative;
}
.home-noodle-img {
	width: 100%;
	margin-top: 4rem;
}
.home-nuudle-bowl {
	width: 70%;
	position: absolute;
	top: 40%;
	right: -5%;
}
.home-post-div {
	position: absolute;
	width: 40%;	
    bottom: 45%;
    right: 10%;
}
.home-post-div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
    border:5px #fff solid;
}
.home-noodle-bowl-img {
	width: 100%;
	margin-top: 2rem;
}

@media(max-width: 992px) {
	.home-nav-arrange {
		flex-direction: row;
		justify-content: space-around;
	}
	.nav-item {
		font-size: 19px;
		text-align: center;
		width: 25vw;
		padding: 11px 0;
		margin: 20px auto;
		border: solid 1px #3d0c08;
		border-radius: 3px;
		border-top-left-radius: 20px;
	}
	.home-post-demo {
		width: 460px;
	}

	.home-post-div{
		bottom: 47%;
		left:35%;
	}
	.home-nuudle-bowl {
		
		top: 40%;
		right: 5%;
	}
	.home-noodle-img {
		width: 90%;
		margin-top: 5rem;
		
	}
	.home-post-div img{
		width: 120%;
		height: 120%;
		object-fit: cover;
		border-radius: 100%;
		border:5px #fff solid;
	}
	.home-noodle-bowl-img {
		width: 100%;
		margin-top: 2rem;
	}
}
@media(max-width: 600px) {
	.home-post-div{
		bottom: 52%;
		left:40%;
	}
	.home-nuudle-bowl {
		
		top: 40%;
		right: 0%;
	}
	.home-noodle-img {
		width: 90%;
		margin-top: 5rem;
	}
	.home-post-div img{
		width: 120%;
		height: 120%;
		object-fit: cover;
		border-radius: 100%;
		border:5px #fff solid;
	}
	.home-post-demo {
		width: 360px;
	}
}
@media(max-width: 375px) {
	.home-post-div{
		bottom: 50%;
		left:30%;
	}
	.home-nuudle-bowl {
		
		top: 40%;
		right: 10%;
	}
	.home-noodle-img {
		width: 90%;
		margin-top: 7rem;
		right: 10%;
	}
	.home-post-div{
		margin-top: 20%;
	}
	.home-post-demo {
		width: 360px;
	}
}
.hover-img {
	width: 140px;
	/* 140px/4.8=29px */
	height: 29px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s linear;

}
.area-slected-img {
	width: 140px;
	/* 140px/4.8=29px */
	height: 29px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s linear;
}
.area-slected-img-on {
	width: 140px;
	top: -29px;

	/* transition: all 0.25s linear; */
}
.area-slected-img-off {
	width: 140px;
	top: 10px;
}
.hover-img-no {
	width: 140px;
	top: -29px;

	/* transition: all 0.25s linear; */
}

.hover-img-posts {
	width: 140px;
	top: 4px;
}
.hover-img-map {
	width: 140px;
	top: 116px;
}
.hover-img-know {
	width: 140px;
	top: 228px;
}

.nav-top {
	margin-top: 0;
}
.citys-cont{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* .nav-item-post:hover {
  background-color: #fff;
  opacity: 1;
} */
/* .nav-item-post:hover .hover-img{
  background-color: #fff;
  
} */
/* .search-btn {
	background-color: aqua;
	width: 10px;
	height: 10px;
} */
.inputCont {
	width: 40%;
	display: flex;
	align-items: center;
}
.postsinput {
	border: none;
	border-radius: 30px;
	height: 40px;
	background-color: #F6F5F5;
	box-shadow: 0 0 0 0px rgba(82, 10, 5, 0.103);
}
.postsinput:focus {
	background-color:#F6F5F5;
	/* box-shadow: 0 0 0 2px rgb(255, 144, 136); */
}
.ant-input {
	background-color: #F6F5F5;
}
.search-btn {
	width: 20px;
	height: 25px;
	/* background-color: rgb(48, 75, 230); */
	transform: translateX(-100%);
	z-index: 2;
}
.search-btn img{
	
	height: 100%;
	transform: translateY(30%);
	/* background-color: rgb(48, 75, 230); */
	transform: translateX(-100%);
	z-index: 2;
}
.login-and-ham {
	min-width: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media(max-width: 992px) {
	.login-and-ham {
		min-width: auto;
	}
}

/* Hamburger Menu */
.ham-menu {
	display: inline-block;
	position: relative;
	align-items: center;
	z-index: 999;
	width: 3.7rem;
	height: 3.7rem;
	margin-right: 2.5rem;
	opacity: 1;
	transition: all .25s linear;
}

.ham-menu:hover {
	opacity: 1;
	cursor: pointer;
}

span.ham-menu-bar1 {
	display: inline-block;
	position: absolute;
	background-color: #3D0C08;
	width: 35px;
	height: 4px;
	top: 12px;
	left: 12px;
	border-radius: 2rem;
	transition: all .05s linear;
}

span.ham-menu-bar2 {
	display: inline-block;
	background-color: #3D0C08;
	position: absolute;
	width: 35px;
	height: 4px;
	bottom: 27px;
	left: 12px;
	border-radius: 2rem;
	transition: all .25s linear;
}

span.ham-menu-bar3 {
	display: inline-block;
	background-color: #3D0C08;
	position: absolute;
	width: 35px;
	height: 4px;
	bottom: 16px;
	left: 12px;
	border-radius: 2rem;
	transition: all .25s linear;
}

span.ham-menu-bar1--touch {
	display: inline-block;
	position: absolute;
	background-color: #D8C6BA;
	width: 40px;
	height: 4px;
	top: 12px;
	left: 12px;
	opacity: 0;
	transition: all .05s linear;
}

span.ham-menu-bar2--touch {
	display: inline-block;
	background-color: #D8C6BA;
	position: absolute;
	width: 40px;
	height: 4px;
	opacity: 1;
	bottom: 30px;
	left: 12px;
	border-radius: 2rem;
	transition: all .25s linear;
	transform: rotate(45deg);
}

span.ham-menu-bar3--touch {
	display: inline-block;
	background-color: #D8C6BA;
	position: absolute;
	width: 40px;
	height: 4px;
	bottom: 30px;
	left: 12px;
	opacity: 1;
	border-radius: 2rem;
	transition: all .25s linear;
	transform: rotate(-45deg);
}
.ant-drawer-body{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
@media(max-width: 992px) {
	.ham-menu {
		margin-right: 1rem;
		width: 3rem;
		height: 3rem;
		margin-top: 0;
	}
	span.ham-menu-bar1 {
		width: 30px;
	}
	span.ham-menu-bar2 {
		width: 30px;
		bottom: 22px;
	}
	span.ham-menu-bar3 {
		width: 30px;
		bottom: 12px;
	}
	span.ham-menu-bar1--touch {
		width: 30px;
	}
	span.ham-menu-bar2--touch {
		width: 30px;
		bottom: 16px;
	}
	span.ham-menu-bar3--touch {
		width: 30px;
		bottom: 16px;
	}
}

.ant-layout-content{
	background-color: #fff;
	border-radius: 0.5rem;

}
.PostAreaList{
	margin-top: 30px;
	width: 100%;
	height: 70vh;
	display: flex;
	position: relative;
	left: -30px;
	/* background-color: red;*/
	flex-direction: column;
	justify-content: space-around;
} 
.post-each-area{
	position: relative;
	overflow: hidden;
	/* background-color: #D8C6BA; */

} 
.area{
	z-index: 2;
	width: 100%;
	height: 40px;
	font-size: 1.5rem;
	text-align: center;
font-weight: bold;
color: #871F1F;
}
.tri{
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	/* background-color: rgb(226, 93, 93); */
	opacity: 0.5;
	cursor: pointer;
}
.area-active{
	background-color: rgb(167, 87, 87);
}
.each-city-cont{
	position: relative;
	display: flex;
cursor: pointer;
}
.post-each-city{
	margin-top:10px;
	width: 130%;
	height: 38px;

	text-align: center;
	font-size: 1.2rem;
	color: #867272;
}
.post-each-city-active{
	color:#871F1F;

}
.dsp-n{
	display: none;
}
.city-line-cont{
	height: 6px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	
}
.city-line{
	height: 2px;
	width: 110%;
	background-color:#871F1F;
	transform: translateX(-50%);
	transition: all 0.1s linear;
}
.city-line-off{
	width: 0;
}
.post_bg {
	background: url(../public/images/background-white.png) no-repeat;
	background-size: cover;
position: fixed;
height: 80%;
width: 80%;

}
.map-layout {
	background: url(../public/images/background-white.png) no-repeat;
	background-size: cover;
}
.map-content {
	display: flex;
	flex-grow: 1;
	/* background: url(../public/images/map-left.png) no-repeat;
	background-size: contain; */
}
.map-left-bg {
	background: url(../public/images/map-left.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
    width: 50%;
    height: 100%;
}
.map-div {
	width: 50vh;
	height: 50vh;
	margin: auto;
    /* border-radius: 2rem; */
    /* overflow: hidden; */
	display: flex;
	justify-content: center;
}
.map-canvas {
	/* position: fixed; */
	border-radius: 6px;
	border: solid 2px #3D0C08;
	width: 25vw;
	height: 25vw;
	margin: auto;
}
.map-point {
	height: 30px;
}
.map-article {
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: calc(100vh - 120px);
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.map-article::-webkit-scrollbar {
	display: none;
}
.store-info {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 60%;
	margin: 1rem auto;
	/* border: solid 1px #3d0c08; */
	border-radius: 0.3rem;
	background-color: rgba(255,255,255,.8);
	margin-top: 4rem;
}
.store-name {
	color: #3D0C08;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
}
.store-address {
	color: #3D0C08;
	font-size: 1.25rem;
	margin: 0;
}
.map-loadimg-div {
	height: 60vh;
	flex-grow: 1;
}
.map-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	width: 100%;
}
.map-no-post {
	width: 80%;
}
.map-no-post p {
	text-align: center;
	color: #3d0c08;
	font-size: 2rem;
	margin: 0%;
	padding-bottom: 1rem;
	/* border-bottom: solid 2px #3d0c08; */
}
.map-see-more {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.map-see-more p {
	cursor: pointer;
	font-size: 1.5rem;
	color: #871F1F;
}
.map-see-more p:hover {	
	color: #3d0c08;	
	text-decoration: underline;
}
@media(max-width: 1600px) {
	.store-info {		
		width: 80%;	
	}
}
@media(max-width: 1175px) {
	.store-info {		
		width: 95%;
	}
}
/* .map-article */
@media(max-width: 992px) {
	.map-left-bg {
		display: none;
	}
	.map-div {
		width: auto;
		height: auto;
		top: 3rem;
		margin: auto;
	}
	.map-canvas {
		position: relative;
		width: 60vw;
		height: 60vw;
		margin: auto;
	}
	.map-article {
		max-height: none;
		margin-top: 3rem;
	}
	.store-name{
		font-size: 2rem;
	}
	.store-address {
		font-size: 1.1rem;
	}
	.store-info {		
		width:60%;
	}
	.map-loadimg-div img {
		width: auto;
	}
}
@media(max-width: 770px) {
	.store-info {		
		width: 82%;
	}
}
/* login card */
.login-card-alignment::before {
	content: '';
	height: 100vh;
}
.login-title {
	width: 100%;
	display: flex;
	align-items: center;	
}
.login-title-img {
	width: 55%;
	margin: 3.5rem auto 2.5rem;
}
.login-form {
	background-color: #fff;
	padding: 1rem;
	margin: auto;
	max-width: 30vw;
	border-radius: 10px;
}

.login-form .remember-color{
	color:#3d0c08;
}

.login-change-color a,
.login-remember-forget a{
	color:#9F3333;
}
.login-email,
.login-password,
.login-remember-forget,
.login-login,
.register-username {
	width: 73%;
	margin: 1.25rem auto;
	border-radius: 10px;	
}
.login-register {
	width: fit-content;
	margin-left: 13.5%;
}
.login-email input,
.login-password span,
.login-password input,
.register-username input {
	background-color: #FCF4F4;
	line-height: 2;
}
.ant-checkbox-checked .ant-checkbox-inner {
	background-color: #3d0c08;
	border-color: #3d0c08;
}
.login-remember-forget a{
	float: right;
}
.login-remember-forget a:hover,
.login-register:hover {
	text-decoration: underline #3d0c08;
}
.login-remember-forget {
	margin-bottom: 0;
}
.login-create-account, 
.register-has-account {
	cursor: pointer;
}
.login-register {
	margin-top: 0;
}
.login-form__button {
	width: 100%;
	height: fit-content;
	background-color: #ffffff;
	border: solid 3px #871F1F;
	border-radius: 6px;
}
.login-form__button-span {
	font-size: 1.25rem;
	color: #871F1F;
}
.login-form__button:hover, .login-form__button:focus {
	background-color: #871F1F;
	border: solid 3px #871F1F;
}
.login-form__button:hover .login-form__button-span, 
.login-form__button:focus .login-form__button-span {
	color: #ffffff;
}
@media(max-width: 992px) {
	.login-form {
		max-width: 60vw;
	}
}
@media(max-width: 576px) {
	.login-form {
		max-width: 90vw;
	}
}
.post-list{
	/* background-color:#dabebe ; */
	
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

/* feeder */
.feed {
	margin: 0 auto;
}
.ant-card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.showPostData{
	width: 40px;
	height: 40px;
	background-color: rgb(27, 177, 107);
	color: #FCF4F4;
}
.feedPostData{
	width: 40px;
	height: 40px;
	color: #FCF4F4;
	background-color: rgb(100, 90, 161);
}
.changeTest{
	width: 40px;
	height: 40px;
	color: #FCF4F4;
	background-color: rgb(228, 89, 209);
}
.post-card{
	width: 400px;
	min-height: 800px;
	 background-color: rgba(255, 255, 255, 0.685); 
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
.post-restaurant-name{
	color: #3D0C08;
	font-size: 26px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	text-overflow: ellipsis;
	margin-left: 3px;
	white-space: nowrap;
}
.post-date-cont{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}
.post-date{
	width: 100%;
	margin-bottom: 2px;
	font-size: 16px;
	color: #58403E;
	opacity: 0.5;
	font-family: sans-serif;
	/* text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; */
	
	
}
.post-image{
	width: 400px;
	height: 400px;
	/* object-fit: contain; */
	object-fit:cover;
	border-radius: 0.2rem;
}
.post-card-text-tags-comments{
	display: flex;
	flex-direction: column;
	width: 95%;
	align-self: center;
}
.post-text-cont{
	

	width: 100%;
	
}
.post-text{
	font-size: 18px;
	color: #3D0C08;
	font-family: Microsoft JhengHei;
	display: inline-block;  
}

.post-text-off{

text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width: 280px;

}

.post-readmore{
display: inline;
position: relative;
top:-7px;


cursor: pointer;
color: rgb(124, 147, 153);
}
.post-tags-and-bookmark-cont{
	width: 100%;
	min-height: 40px;
	margin-top: 5px;
}
.postcard-tags-cont{
/* background-color: khaki; */
min-height: 14px;
width: 100%;
display: flex;
flex-wrap:wrap
}
.tag{
	margin-top: 3px;
	height: 100%;
	border:1px #3D0C08 solid;
padding: 1px 7px;
color: #3D0C08 ;
margin-left: 5px;
cursor: pointer;
}
.postcard-bookmark-cont{
cursor: pointer;
	height: 100%;
	min-height: 30px;
	min-width: 30px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 5px;
	}
/* .bookmark-btn{


} */
.bookmark-cont-2{
	height: 28.4px;
	width: 24px;
}
.comment-input {
	border: none;
	
	height: 40px;
	background-color: #F6F5F5;
	box-shadow: 0 0 0 0px rgba(82, 10, 5, 0.103);
	background-color: #F6F5F5;
}
.comment-input-cont {
	width: 100%;
	display: flex;
	align-items: center;
	align-self: center;
	background-color: #F6F5F5;
}
.comment-input-btn {
	margin:7px 0px ;
	width: 30px;
	height: 30px;
	/* background-color: rgb(48, 75, 230); */
	transform: translateX(-30%);
	z-index: 2;
}
.post-displayname{
	margin-top: 5px;
	color: #3D0C08;
	font-size: 11px;
}
/* .comments-cont{
	
} */
.post-card-comment{
	
	width: 100%;
		margin-top: 5px;
		display: flex;
		flex-direction: column;
}
.comment-username{
font-size: 11px;
color: #3D0C08;
font-family: Microsoft JhengHei;
}
.comment-text{
	font-family: Microsoft JhengHei;
	font-size: 18px;
	color: #3D0C08;
}
.comment-readmore{
	margin-top: 15px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.comment-readmore-icon{
	cursor: pointer;
	width: 36px
}
.comment-not-readmore-icon{
	cursor: pointer;
	width: 25px;
}










element.style {
    height: 118px;
    min-height: 30px;
    max-height: 118px;
    resize: none;
}
.ant-input:focus, .ant-input-focused {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}
.ant-input:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
}
textarea.ant-input {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5715;
    vertical-align: bottom;
    -webkit-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;
}
.comment-input::-webkit-scrollbar{
	/* overflow-y: hidden; */
	/* background-color: #fff; */
	display: none;
}
.ant-input:focus, .ant-input-focused{
	/* background-color: rgba(255, 255, 255, 0.103); */
	/* border-radius: 3rem; */
	border-color: azure;
	box-shadow: 0 0 0 0px #fff
}
.hidden{
width: 100%;
background-color: #fff;
}
.inputBG{
background-color: rgb(159, 224, 37);
}

.pano {
	height: 300px;
	width: 300px;
	background-color: #fff;
  }
  .imgTest{
	  width: 100%;
    object-fit:cover

  }

/* knowledge page */
.knowledge-layout {
	padding: 0 50px;
}
.know-nav-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 15vh;
	margin-left: -40px;
	overflow: hidden;
}
.know-nav-item {
	cursor: pointer;
	display: flex;
	margin: .75rem 0;
	color: #58403E;
	font-size: 1.2rem;
	font-weight: bold;
	transform: translate(-4rem, 0);
	transition: all 0.2s linear;
}
.know-item-div {
	width: 4rem;
	/* display: none; */
}
.know-item-div--active {
	display: block;
	width: 4rem;
}
.know-nav-item:hover {
	color: #871F1F;
	transform: translate(-3rem, 0);
}
.know-item-img {
	width: 100%;
}
.know-nav-item--active {
	color: #871F1F;
	transform: translate(0, 0);
}
.know-nav-item--active:hover {
	transform: translate(0, 0);
}

.know-all {
	position: relative;
	display: flex;
}
.know-main {
	margin-top: 35vh;
	left: 1rem;
	z-index: 5;
}
.know-sect {
	font-size: 2rem;
	color: #58403E;
	font-weight: bold;
}
.know-detail {
	font-size: 1rem;
	color: #58403E;
	max-width: 30vw;
}
.know-recommend {
	position: absolute;
	right: 1rem;
	top: 2rem;
	z-index: 5;
}
.know-tag {
	font-size: 1rem;
	margin: 5px auto;
	color: #3D0C08;
}
@media(max-width: 992px){
	.knowledge-layout {
		padding: 0;
	}
	.knowledge-navbar {
		overflow: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
	}
	.knowledge-navbar::-webkit-scrollbar {
		display: none;
	}
	.know-nav-bar {
		flex-direction: row;
		width: 500px;
		margin: 1rem auto;
	}
	.know-item-div {
		display: none;
	}
	.know-item-div--active {
		display: none;
	}
	.know-nav-item {
		transform: none;
	}
	.know-nav-item:hover {
		transform: none;
	}
	.know-nav-item p{
		font-size: 1rem;
		margin: auto 1.25rem;
	}
	.know-main {
		max-width: 65vw;
		margin: auto;
		margin-top: 35vh;
		left: 1rem;
	}
	.know-sect {
		font-size: 1.5rem;
		font-weight: bold;
	}
	.know-detail {
		font-size: .75rem;
		max-width: 80vw;
	}
	.know-recommend {
		top: .5rem;
	}
	.know-tag {
		font-size: .75rem;
		margin: 0;
	}
}

/* customize knowledge image */
.know-anchor {
	position: relative;
}
.know-all-images {
	position: absolute;
}
.know-image-iekei .know-img-item {
	height: 100%;
	margin: 0 2rem;
}
.know-main-iekei {
	margin-top: 12vh;
}
.know-image-iekei {
	display: flex;
	max-width: 45vw;
	height: 22vh;
	bottom: -30vh;
	right: -18rem;
	float: right;
}

.know-main-jiro {
	margin-top: 45vh;
}
.know-image-jiro {
	display: flex;
	position: absolute;
	max-width: 45vw;
	height: 18vh;
	right: 15vw;
    top: 25vh;
}
.jiro-img-1 {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
.jiro-img-2 {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	top: -4rem;
    left: 3rem;
    z-index: 1;
}
.jiro-img-3 {
	position: absolute;
	height: 60%;
	top: 0;
	left: 0;
	top: -4.4rem;
    left: 4rem;
	z-index: 2;
}

.know-main-musashi {
	margin-top: 45vh;
}
.know-image-musashi {
	display: flex;
	max-width: 45vw;
	height: 18vh;
	right: -25vw;
	top: 22vh;
}
.musashi-img-1 {
	height: 100%;
	margin: 0 1rem;
}
.musashi-img-2 {
	height: 40%;
	margin: auto 1rem;
}

.know-main-hakata {
	margin-top: 12vh;
}
.know-image-hakata {
	display: flex;
	max-width: 45vw;
	height: 30vh;
	right: -35vw;
	bottom: -34vh;
}

.know-main-gyokai {
	margin-top: 45vh;
}
.know-image-gyokai {
	display: flex;
	max-width: 45vw;
	height: 16vh;
	right: -20vw;
	top: 22vh;
}
@media(max-width: 992px){
	.know-all-images {
		display: none;
	}
	.know-main-iekei {
		margin-top: 25vh;
	}
	.know-image-iekei {
		display: flex;
		max-width: 45vw;
		height: 24vw;
		max-height: 7.5rem;
		top: 0;
		right: 100vw;
	}
	.know-image-iekei .know-img-item {
		position: absolute;
		height: 100%;
	}
	.iekei-img-1 {
		left: 20vw;
	}
	.iekei-img-2 {
		left: 50vw;
		top: 12vh;
	}
	.iekei-img-3 {
		left: 25vw;
		top: 50vh;
	}

	.know-main-jiro {
		margin-top: 35vh;
	}
	.know-image-jiro {
		display: flex;
		position: absolute;
		height: 24vw;
		max-height: 7.5rem;
		right: 100vw;
		top: 15%;
	}
	.jiro-img-1 {
		margin-left: 30vw;
    	top: 90%;
	}
	.jiro-img-2 {
		margin-left: 26vw;
    	top: 46%;
	}
	.jiro-img-3 {
		margin-left: 28vw;
    	top: 35%;
	}

	.know-main-musashi {
		margin-top: 30vh;
	}
	.know-image-musashi {
		display: flex;
		height: 14vw;
		max-height: 6rem;
		right: 30vw;
		top: 20%;
	}
	
	.know-main-hakata {
		margin-top: 20vh;
	}
	.know-image-hakata {
		display: flex;
		height: 25vw;
		max-height: 7.5rem;
		right: 15vw;
		top: 120%;
	}
	
	.know-main-gyokai {
		margin-top: 20vh;
	}
	.know-image-gyokai {
		display: flex;
		position: absolute;
		height: 20vw;
		max-height: 6rem;
		right: 100vw;
		top: 0%;
	}
	.gyokai-img-1 {
		position: absolute;
		height: 100%;
		left: 20vw;
    	top: 38vh;
	}
	.gyokai-img-2 {
		position: absolute;
		height: 100%;
		left: 60vw;
		top: 45vh;
	}
	.gyokai-img-3 {
		position: absolute;
		height: 100%;
		left: 30vw;
    	top: 60vh;
	}
	.gyokai-img-4 {
		position: absolute;
		height: 100%;
		left: 20vw;
		top: 8vh;
	}
}

.knowledge-layout-iekei {
	background: url(../public/images/bg01.png) no-repeat;
	background-size: cover;
}
.knowledge-layout-jiro {
	background: url(../public/images/bg02.png) no-repeat;
	background-size: cover;
}
.knowledge-layout-musashi {
	background: url(../public/images/bg03.png) no-repeat;
	background-size: cover;
}
.knowledge-layout-hakata {
	background: url(../public/images/bg04.png) no-repeat;
	background-size: cover;
}
.knowledge-layout-gyokai {
	background: url(../public/images/bg05.png) no-repeat;
	background-size: cover;
}
@media(max-width: 992px){
	.knowledge-layout-iekei {
		background: url(../public/images/phone-bg01.png) no-repeat;
		background-size: cover;
	}
	.knowledge-layout-jiro {
		background: url(../public/images/phone-bg02.png) no-repeat;
		background-size: cover;
	}
	.knowledge-layout-musashi {
		background: url(../public/images/phone-bg03.png) no-repeat;
		background-size: cover;
	}
	.knowledge-layout-hakata {
		background: url(../public/images/phone-bg04.png) no-repeat;
		background-size: cover;
	}
	.knowledge-layout-gyokai {
		background: url(../public/images/phone-bg05.png) no-repeat;
		background-size: cover;
	}
}

/* profile page */
.profileHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}
.hide-pc {
	display: none;
}
.profile-ham-div {
	height: 70px;
}
.profile-ham-div .ham-menu {
	margin-top: 3px;
}
@media(max-width: 992px) {
	.hide-pc {
		display: block;
		width: 60px;
		height: 60px;
		line-height: 0%;
	}
	.hide-mobile {
		display: none;
	}
	.profileHeader {
		height: 60px;
	}
	.profile-title {
		display: flex;
		align-items: center;
		width: auto;
	}
	.user-menu-img {
		height: 100%;
		line-height: 0%;
		cursor: pointer;
	}
	.profile-title-text {
		margin: 0;
		margin-left: .25rem;
		font-size: 1.25rem;
		color: #3D0C08;
	}
	.profile-return {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 1rem;
		border-radius: 50%;
		cursor: pointer;
		transform: rotate(45deg);
		box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
	}
	.return-btn-1 {
		position: absolute;
		width: 3px;
		height: 24px;
		background-color: #3D0C08;
		top: 8px;
		left: 18px;
		border-radius: 2rem;
	}
	.return-btn-2 {
		position: absolute;
		width: 24px;
		height: 3px;
		background-color: #3D0C08;
		top: 18px;
		left: 8px;
		border-radius: 2rem;
	}
	.user-menu-drawer {
		height: 100%;
		width: 0;
	}
}
.profile-nav-col {
	height: fit-content;
}
.profile-article-col {
	max-height: calc(100vh - 120px);
	overflow-x: hidden;
	overflow-y: scroll;
}

.profile-nav-bar {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10vh 2rem;
    overflow: hidden;
}
.profile-nav-item {
	position: relative;
	overflow: hidden;
	width: 100%;
	color: #58403E;
	cursor: pointer;
	font-size: 1.3rem;
	text-align: center;
	font-weight: bold;
	margin: 2rem 0;
}
.profile-nav-item--active {
	color: #871F1F;
}
.profile-post {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.each-post {
	padding: 0% 2rem;
	margin: 2rem 0%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgba(109, 109, 109, 0.05);
}

.delete-post {
	position: absolute;
	cursor: pointer;
	height: fit-content;
    padding: 0;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    right: -6rem;
    top: 2rem;
	transition: all 0.2s linear;
}
.delete-post:hover {
	background-color: #fff2f2;
	opacity: 1;
}
.delete-post span {
	font-size: 1rem;
	color: #3D0C08;
	padding: .5rem;
	margin: 0%;
}

/* 以下為create-posts-drawer */
.site-drawer-render-in-current-wrapper {
	position: relative;
	/* width: 10vw;
	height: 100vh;
	left: 0;
	top: 0; */
	overflow: visible;
	

	
	border-radius: 2px;
  }
.createPost .ant-drawer{
	display: flex;
}
.createPost .ant-drawer .ant-drawer-content {
	width: 100%;
	height: 80vh;
	margin-top: 100px;
	
	background-image: url(../public/images/background-brown.png);
	border-radius: 10px;
	border-top-left-radius: 40px;
	overflow: visible;
}
.createPost .ant-drawer-right {
    right: 100px;
}
.createPost .ant-drawer.ant-drawer-open .ant-drawer-mask {
    height: 100%;
    opacity: 1;
    -webkit-transition: none;
    transition: none;
    -webkit-animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    animation: antdDrawerFadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    pointer-events: auto;
}
 .createPost .ant-drawer .ant-drawer-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=45);
    -webkit-transition: opacity 0.3s linear, height 0s ease 0.3s;
    transition: opacity 0.3s linear, height 0s ease 0.3s;
    pointer-events: none;
}
.createPost .ant-drawer.ant-drawer-open {
   right: 0;
}
.createPost .ant-drawer-left.ant-drawer-open, .createPost .ant-drawer-right.ant-drawer-open {
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.createPost .ant-drawer-content-wrapper{
	width: 90vw !important; 
display: flex;

z-index: 3;
}
.createPost .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper{
	-webkit-box-shadow: 0px 0 0px 0px rgb(0 0 0 / 8%);
    box-shadow: 0px 0 0px 0px rgb(0 0 0 / 8%);
}
.ant-drawer-header{
	display: none;
}
/* .create-post-drawer-cont1{
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
} */
.createPost .ant-drawer-body {
    flex-grow: 1;
    padding: 0px;
    overflow: visible;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
}

.create-post-drawer-open-btn{
	position: absolute;
	width: 45px;
	cursor: pointer;
	height: 45px;
	left: 0;
	top: 50%;
	transform: translate(-50%,-50%);

}
.create-post-drawer-open-btn img{
	width: 100%;
	height: 100%;

}





.create-post-drawer-elm-cont{
/* background-color: rgb(92, 46, 46); */
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 1000px;

}
.all-h{
height: 440px;

}


.post-imgUploader-cont{
	width: 35%;
	
display: flex;
flex-direction: column;
justify-content: space-between;
}
.post-imgUploader-cont .imgUploader-window{
	width: 100%;
	height: 73%;
	background-color: #FCF4F4;
	border-radius: 5px;
}
.post-imgUploader-cont .imgUploader-file{
	
	width: 100%;
	height: 70px;
	background-color: #FCF4F4;
	position: relative;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.post-infoUploader-cont{
	width: 35%;
	margin-left: 40px;
	display: flex;
flex-direction: column;
justify-content: space-between;
}
.area-and-city-cont{
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: space-between;

}
.post-infoUploader-cont .area-selector{
width: 47%;
height: 100%;
background-color: #FCF4F4;
text-align: center;
border-radius: 5px;
}
.post-infoUploader-cont .city-selector{
	width: 47%;
	height: 100%;
	background-color: #FCF4F4;
	text-align: center;
	border-radius: 5px;
}
.post-infoUploader-cont .c-post-restaurant-name{
	width: 100%;
	height: 60px;
	
	background-color: #FCF4F4;
	border-radius: 5px;
}
.c-post-restaurant-name .ant-input{
	height: 100%;
	font-size: 20px;
}
.post-text-input{
	height: 50%;
	width: 100%;
	
	background-color: #FCF4F4;
	display: flex;
	border-radius: 5px;
}
.posts-submit-btn-cont{
	width: 25%;
	margin-left: 50px;
	
	display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end; 

}
.addTag{
	width: 100%;
	

}
.taginput{
	display: flex;
	border-radius: 5px;
}
.addTag-btn{
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 28px;
	font-size: 28px;
	font-weight: bold;
	background-color: #fff;
}
.posts-submit-btn{
	width: 100%;
	height: 40px;
	cursor: pointer;
	background-color: #3D0C08;
	color: #F8E7DC;
	border:1px #F8E7DC solid;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border-radius:3px ;
}
.tag-input{

}
.addTag-tags{
	display: flex;
	flex-wrap:  wrap
}
.addTag-eachtag{
	display: flex;
	min-width:30px ;
align-items: center;
	background-color: #fff;
	margin-right: 10px;
	margin-top: 10px;
}
.addtag-tag-text{
	padding: 5px;
	margin-right: 5px;
}
.tag-remove-btn{
margin-right: 10px;
margin-left: 10px;
cursor: pointer;
color: #3D0C08;
font-weight: bold;
}
@media(max-width: 1350px) {
	.create-post-drawer-elm-cont{
		/* background-color: rgb(92, 46, 46); */
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 800px;
		min-width: 800px;
		}
		.all-h{
		height: 380px;
		
		}
}

.imgUploader-file-text{
	text-align: center;
	color: #3D0C08;
	font-size: 30px;
	}
.cp-drawer-rwd{
	display: none;
}

.imgTest{
	width: 100%;
  object-fit:cover;
height: 100%;
}

.imgUploader-file2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}


.area-and-city-cont .ant-select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	width: 100% !important;
	height: 100% !important;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.area-and-city-cont .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 100%;
    padding: 0 11px;
	align-items: center;
}
.post-text-input textarea{
	margin-top: 0;
    height: 100%;
    width: 100%;
   
    
}
@media(max-width: 1024px){
	.post-imgUploader-cont{
		width: 35%;
		
	display: flex;
	flex-direction: column;
	
	justify-content:flex-start;
	}
	.post-infoUploader-cont{
		height: 400px;
		width: 100%;
		margin-left: 0px;
		display: none;
	flex-direction: column;
	justify-content: space-between;
	}
.posts-submit-btn-cont{
	display: none;
	
}
.createPost .ant-drawer .ant-drawer-content {
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    background-color: #871F1F;
    border-radius: 0px;
    border-top-left-radius: 0px;
	
    overflow: scroll;
	
}
.createPost .ant-drawer-body {
    flex-grow: 1;
    padding: 0px;
    overflow: scroll;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.createPost .ant-drawer-right {
    right: -1px;
}
.createPost .ant-drawer-content-wrapper {
    width: 100vw !important;
    display: flex;
    z-index: 3;
}
.post-imgUploader-cont .imgUploader-file{
	margin-top: 15px;
	width: 100%;
	height: 45px;
	background-color: #FCF4F4;
	position: relative;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.imgUploader-file-text{
	text-align: center;
	color: #3D0C08;
	font-size: 20px;
	}
.create-post-drawer-elm-cont{
		/* background-color: rgb(92, 46, 46); */
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 800px;
		min-width: 800px;
	}
	
.all-h{
	height: 100vh;
	
}
.post-imgUploader-cont .imgUploader-window{
	margin-top: 50px;
	width: 100%;
	height: 270px;
	min-height: 270px;
	background-color: #FCF4F4;
}
.cp-drawer-rwd{
	display: flex;
	flex-direction: column;
}

.area-and-city-cont{
	margin-top: 15px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;

}

.area-selector{
	width: 47%;
	height: 100%;
	background-color: #FCF4F4;
	text-align: center;
	}
.city-selector{
		width: 47%;
		height: 100%;
		background-color: #FCF4F4;
		text-align: center;
}
 .c-post-restaurant-name{
	width: 100%;
	height: 50px;
	margin-top: 15px;
	background-color: #FCF4F4;
}
.post-text-input{
	margin-top: 15px;
	height: 200px;
	width: 100%;
	
	background-color: #FCF4F4;
	display: flex;
	
}
.addTag{
	margin-top: 15px;
	width: 100%;
	

}
.cancel-and-submit-cont{
	margin-top: 25px;
	width: 100%;
	height: 40px;
	
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
.cp-cancel-submit-btn{
	width: 48%;
	height: 100%;
	background-color: #3D0C08;
	color: #F8E7DC;
	border:1px #F8E7DC solid;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border-radius:3px ;
}
.rwd-open-drawer-btn{
	width: 50px;
	height: 50px;
	position: fixed;
	left: -80px;
	bottom: 30px;
}
}

.post-see-more {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.post-see-more p {
	cursor: pointer;
	font-size: 1.5rem;
	color: #871F1F;
}
.post-see-more p:hover {	
	color: #3d0c08;	
	text-decoration: underline;
}
.post-loadimg-div {
	height: 60vh;
	flex-grow: 1;
}

.post-loadimg-div img {
	width: auto;
}
.postHeaderselect{
	display: none;
	}
@media(max-width: 1024px){
	.PostAreaList{
		display: none;
	}
	.inputCont {
		
		display: none;
	
	}
	.postHeaderselect{
		display: block;
		}

}

.postHeaderselect .ant-select:not(.ant-select-customize-input) .ant-select-selector {
	position: relative;
	background-color: #F6F5F5;
	border: 0px solid #d9d9d9;
	height: 40px;
	width: 300px;
	border-radius: 2px;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.postHeaderselect  .ant-select-selector span{
color: #3d0c088c;
display: flex;
align-items: center;
}

@media(max-width: 360px){
.post-image{
	width: 280px;
	height: 280px;
	/* object-fit: contain; */
	object-fit:cover;
	border-radius: 0.2rem;
}

.post-card{
	width: 280px;
	min-height: 800px;
	/* background-color: rgba(255, 255, 255, 0.8); */
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}
}
@media(max-width: 600px){
	.post-image{
		width: 350px;
		height: 350px;
		/* object-fit: contain; */
		object-fit:cover;
		border-radius: 0.2rem;
	}
	
	.post-card{
		width: 360px;
		min-height: 800px;
		/* background-color: rgba(255, 255, 255, 0.8); */
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
	}

	.postHeaderselect .ant-select:not(.ant-select-customize-input) .ant-select-selector {
		width: 150px;
		
		
	}
	.postHeaderselect  .ant-select-selector span{
color: #3D0C08;
	}
	}
@media(max-width: 360px){
	.post-image{
		width: 280px;
		height: 280px;
		/* object-fit: contain; */
		object-fit:cover;
		border-radius: 0.2rem;
	}
	
	.post-card{
		width: 280px;
		min-height: 800px;
		/* background-color: rgba(255, 255, 255, 0.8); */
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
	}
	}
